{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'create' %}

{% block main %}

<section>
    <div class="naranja space">&nbsp;</div>
    <div class="space-line">&nbsp;</div>
    <div class="naranja space-line">&nbsp;</div>
</section>
<section>
    <article class="w100 gris_claro-textura space">&nbsp;</article>
    <article class="w100 gris_claro-textura space">&nbsp;</article>  
    <article class="w100 gris_claro-textura space"> &nbsp;</article>
    <article class="w100 gris_claro-textura space"> &nbsp;</article>
    <article class="w100 gris_claro-textura space border-colorgray">&nbsp;</article>  
</section>

<div class="container">

    <section> 
        <div class="L w100">
            <img src="{{ asset('bundles/app/images/line-shadow.png') }}" class="line_shadowa"> 
        </div>
        <h1 class="L L3">Nuevo Proyecto</h1>
        <h3 class="L L15 T3">C&oacute;digo  Proyecto: <font style="color:red">{{id}}</font></h3>
    {{ form(formulario, {'attr': {'class': 'formulario form-horizontal '}}) }}
     <ul class="record_actions not_style_list">
        <li>
            <a  href="{{ path('proyecto_list') }}" class="btn btn-primary">
                Regresar al listado
            </a>
        </li>   
    </ul>
        </article>

        <div class="L w100">
            <img src="{{ asset('bundles/app/images/line-shadow.png') }}" class="line_shadowa"> 
        </div>
    </section>

</div> <!-- /container -->

{% endblock %}