{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'create' %}

{% block main %}

<section>
    <div class="naranja space">&nbsp;</div>
    <div class="space-line">&nbsp;</div>
    <div class="naranja space-line">&nbsp;</div>
</section>
<section>
    <article class="w100 gris_claro-textura space">&nbsp;</article>
    <article class="w100 gris_claro-textura space">&nbsp;</article>  
    <article class="w100 gris_claro-textura space"> &nbsp;</article>
    <article class="w100 gris_claro-textura space"> &nbsp;</article>
    <article class="w100 gris_claro-textura space border-colorgray">&nbsp;</article>  
</section>

<div class="container">

<section> 
    <div class="L w100">
        <img src="{{ asset('bundles/app/images/line-shadow.png') }}" class="line_shadowa"> 
    </div>
    {{ form_start(formulario, {'attr': {'class': 'form-horizontal'}}) }}
    <article class="L w100 ">
        <dd class="L w50 L25">
            <fieldset class="w100 T2 B2 L">
                <dl class="w100 L">
                    <h4 class="text-center">Nuevo Proyecto</h4>
                    <img src="{{ asset('bundles/app/images/line-shadow.png') }}" class="line_shadowa">
                </dl>
                <dl class="w100 L T1">
                    <div class="L text-naranja T2">
                        {{ form_label(formulario.nombre, 'Nombre Proyecto', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    </div>
                    <div class="L w50 L2">
                        {{ form_widget(formulario.nombre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </dl>
                <dl class="w100 L T1">
                    <div class="L text-naranja T2">
                        {{ form_label(formulario.personas, 'Personas en Proyecto', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    </div>
                    <div class="L w50 L2">
                        {{ form_widget(formulario.personas, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </dl>
                <dl class="w100 L T1">
                    <div class="L text-naranja T2">
                        {{ form_label(formulario.fechaInicio, 'Fecha Inicio', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    </div>
                    <div class="L w50 L2">
                        {{ form_widget(formulario.fechaInicio, {'attr': {'placeholder': 'dd/mm/yyyy'}}) }}
                    </div>
                </dl>
                <dl class="w100 L T1">
                    <div class="L text-naranja T2">
                        {{ form_label(formulario.presupuesto, 'Presupuesto Anual', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    </div>
                    <div class="L w50 L2">
                        {{ form_widget(formulario.presupuesto, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </dl>
                <dl class="w100 L T1">
                    <div class="L text-naranja T2">
                        {{ form_label(formulario.unidadNegocio, 'Unidad Negocio', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    </div>
                    <div class="L w50 L2">
                        {{ form_widget(formulario.unidadNegocio, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </dl>
                <dl class="w100 L T1">
                    <div class="L text-naranja T2">
                        {{ form_label(formulario.fase, 'Fase', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    </div>
                    <div class="L w50 L2">
                        {{ form_widget(formulario.fase, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </dl>
            </fieldset>
        </dd> 
    </article>
    <article class="w100 L">
        <dd class="w50 L25 L B3">
            <dl class="w15 R R3">
                <a href="{{ path('proyecto_list')}}">
                    <input class="btn btn-danger w100" type="button" value="Cancelar"/>
                </a>                
            </dl>
            <dl class="w15 R R1">
                {{ form_widget(formulario.crear, {'label': 'Guardar', 'attr': {'class': 'btn btn-success'}}) }}
            </dl>
        </dd>
    </article>
    {{ form_end(formulario) }}
    <div class="L w100">
        <img src="{{ asset('bundles/app/images/line-shadow.png') }}" class="line_shadowa"> 
    </div>
</section>

</div> <!-- /container -->

{% endblock %}