{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<section>
    <div class="naranja space">&nbsp;</div>
    <div class="space-line">&nbsp;</div>
    <div class="naranja space-line">&nbsp;</div>
</section>

<section>    
    <article class="w100 gris_claro-textura space">&nbsp;</article>  
    <article class="w100 gris_claro-texturaspace">
        <dd class="R w100">        
            <a href="{{path('proyecto_new')}}">
                <input class="btn btn-success R R2" type="button" value="Nuevo"/>
            </a>
        </dl>
        </dd>
    </article>
    <article class="w100 gris_claro-textura space">&nbsp;</article>  
</section>

<div class="container w100">

{% for flashMessage in app.session.flashbag.get('info') %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <strong>Aviso, </strong> {{ flashMessage }}
</div>
{% endfor %}

<h1 class="L L3">Listado de Proyectos</h1>

<section class="w100 space-L1 L white-box">
    <fieldset class="L w100">
        <div class="ConfigureScrollXTable w60 " >
            <!--sin scroll menos de 8 columnas-->
            <table cellspacing="0" id="" class="tablepaginate dataTable tablapaginacion w100 L tableBlock">       
                <!--con scroll mas de 8 columnas-->
                    <!--<table cellspacing="0" id="" class="tablepaginateScroll tablapaginacion w100 L tableBlock">-->
                <thead>
                <th><h6><center>C&oacute;digo</center></h6></th>
                <th><h6><center>Nombre</center></h6></th>
                <th><h6><center>Total Personas</center></h6></th>
                <th><h6><center>Fecha Ingreso</center></h6></th>
                <th><h6><center>Opcion</center></h6></th>
                </thead>
                <tbody>
                    {% for proyecto in proyectos %}
                    <tr>
                        <td><h6 class='centrar2'>{{ proyecto.idProyecto }}</h6></td>
                        <td><h6 class='centrar2'>{{ proyecto.nombreProyecto }}</h6></td>
                        <td><h6 class='centrar2'>{{ proyecto.nPersonas }}</h6></td>
                        <td><h6 class='centrar2'>{{ proyecto.fechaCreacion|date("d/m/Y H:i") }}</h6></td>
                        <td><h6 class='centrar2'>
                            <a href="{{ path('proyecto_show', {'id': proyecto.idProyecto}) }}" class="btn btn-info">Ver Proyecto</a>
                        </h6></td>
                    </tr>
                    {% else %}
                        <td colspan="4"><h6 class='centrar2'>No existen proyectos</h6></td>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </fieldset>
</section>

</div> <!-- /container -->



{% endblock %}