{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<div class="container w30">

    <h1 class="L L3">Poyecto {{ proyecto.nombreProyecto }}</h1><br/>

    <dl class="dl-horizontal T15">
        <dt>Nombre</dt>
        <dd>{{ proyecto.nombreProyecto }}</dd>

        <dt>Numero de personas</dt>
        <dd>{{ proyecto.nPersonas }}</dd>

        <hr>            

    </dl>
   <div class="B5 ">
       <a href="{{ path('proyecto_edit', {'id': proyecto.idProyecto}) }}" class="btn btn-warning " >Editar</a>
       <a href="{{ path('presupuestomensual',{'idProyecto': proyecto.idProyecto}) }}" class="btn btn-primary">Ver Detalle mensual</a>
       <a href="{{ path('proyecto_list') }}" class="btn btn-primary">Regresar al Listado</a>
    </div>
</div> <!-- /container -->

{% endblock %}