{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<div class="container w40">

    <h1>Categoria {{ proyecto.nombreProyecto }}</h1>

    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>{{ proyecto.nombreProyecto }}</dd>

        <dt>Numero de personas</dt>
        <dd>{{ proyecto.nPersonas }}</dd>

        <hr>

        <dt>&nbsp;</dt>
        <dd>
            
           <!-- <a href="{{ path('proyecto_delete', {'id': proyecto.idProyecto}) }}" class="btn btn-danger">Eliminar</a>-->
        </dd>

    </dl>
    <a href="{{ path('proyecto_edit', {'id': proyecto.idProyecto}) }}" class="btn btn-primary R30 B5">Editar</a>

</div> <!-- /container -->

{% endblock %}