{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

    {% block main %}

        <section>
            <div class="naranja space">&nbsp;</div>
            <div class="space-line">&nbsp;</div>
            <div class="naranja space-line">&nbsp;</div>
        </section>

        <section>
            <article class="w100 gris_claro-textura space">&nbsp;</article>  
            <article class="w100 gris_claro-texturaspace">
                <dd class="R w100">
                    <dl class="w7 R R1">
                        <a href="{{path('material_new')}}">
                            <input class="btn btn-success w100" type="button" value="Nuevo"/>
                        </a>
                    </dl>
                </dd>
            </article>
            <article class="w100 gris_claro-textura space">&nbsp;</article>  
        </section>

        <div class="container w100">

            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Aviso, </strong> {{ flashMessage }}
                </div>
            {% endfor %}

            <h1 class="L L3"> Listado de Materiales</h1>

            <section class="w100  space-L1 white-box">
                <fieldset class=" w100">
                    <div  class="ConfigureScrollXTable w95" >
                        <!--sin scroll menos de 8 columnas-->                        
                        <table cellspacing="0" id="" class="tablepaginate dataTable tablapaginacion w100  tableBlock">       
                            <!--con scroll mas de 8 columnas-->
                            <!--<table cellspacing="0" id="" class="tablepaginateScroll tablapaginacion w100 L tableBlock">-->
                            <thead>                
                            <th><h6><center>C&oacute;digo</center></h6></th>
                            <th><h6><center>Nombre</center></h6></th>
                            <th><h6><center>Descripción</center></h6></th>
                            <th><h6><center>Costo</center></h6></th>
                            <th><h6><center>Precio Venta</center></h6></th>
                            <th><h6><center>Existencia Actual</center></h6></th>
                          <!--  <th><h6><center>Estado</center></h6></th>-->
                            <th><h6><center>Fecha Ingreso</center></h6></th>
                            <th><h6><center>Opcion</center></h6></th>
                            </thead>
                            <tbody>
                                {% for material in materiales %}
                                    <tr>
                                        <td><h6 class='centrar2'>{{ material.id }}</h6></td>                       
                                        <td><h6 class='centrar2'>{{ material.nombreMaterial }}</h6></td>
                                        <td><h6 class='centrar2'>{{ material.descripcionMaterial }}</h6></td>
                                        <td><h6 class='centrar2'>{{ material.costoMaterial }}</h6></td>
                                        <td><h6 class='centrar2'>{{ material.precioMaterial }}</h6></td>
                                        <td><h6 class='centrar2'>{{ material.existenciaActual }}</h6></td>
                                       <!-- <td><h6 class='centrar2'>{{ material.estado }}</h6></td>-->
                                        <td><h6 class='centrar2'>{{ material.fechaCreacion|date("d/m/Y H:i") }}</h6></td>
                                        <td><h6 class='centrar2'>
                                                <a href="{{ path('material_show', {'id': material.id}) }}" class="btn btn-info">Ver Material</a>
                                            </h6></td>
                                    </tr>
                                {% else %}
                                <td colspan="4"><h6 class='centrar2'>No existe material</h6></td>
                            {% endfor %}
                            </tbody> 
                        </table>
                    </div>
                </fieldset>
            </section>

        </div> <!-- /container -->

      

    {% endblock %}