{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<div class="container">

    <h1>Material {{ material.nombre }}</h1>

    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>{{ material.nombre }}</dd>

        <dt>Descripcion</dt>
        <dd>{{ material.descripcion }}</dd>

        <hr>

        <dt>&nbsp;</dt>
        <dd>
            <a href="{{ path('material_edit', {'id': material.id}) }}" class="btn btn-warning">Editar</a>
            <a href="{{ path('material_delete', {'id': material.id}) }}" class="btn btn-danger">Eliminar</a>
        </dd>

    </dl>

</div> <!-- /container -->

{% endblock %}