{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<div class="container">

    <h1 class="L L3">Material {{ material.nombreMaterial }}</h1>

    <dl class="dl-horizontal w35 T7">
        <dt>Nombre</dt>
        <dd>{{ material.nombreMaterial }}</dd>

        <dt>Descripcion</dt>
        <dd>{{ material.descripcionMaterial }}</dd>

        <hr>

        <dt>&nbsp;</dt>
        <dd>
            <a href="{{ path('material_edit', {'id': material.id}) }}" class="btn btn-warning T3 R35">Editar</a>           
        </dd>
        <dd>
            <a href="{{ path('material_list', {'id': material.id}) }}" class="btn btn-primary T1 R35">Regresar al listados</a>           
        </dd>

    </dl>

</div> <!-- /container -->

{% endblock %}