{% extends '::frontend.html.twig' %}

{% block title %} Listado de Categorias {% endblock %}

{% block id 'portada' %}

{% block main %}

<section>
    <div class="naranja space">&nbsp;</div>
    <div class="space-line">&nbsp;</div>
    <div class="naranja space-line">&nbsp;</div>
</section>

<section>
    <article class="w100 gris_claro-textura space">&nbsp;</article>  
    <article class="w100 gris_claro-texturaspace">
        <dd class="R w100">
       <dl class="w7 R R1">
            <a href="{{path('categoria_new')}}">
                <input class="btn btn-success w100" type="button" value="Nuevo"/>
            </a>
        </dl>
        </dd>
    </article>
    <article class="w100 gris_claro-textura space">&nbsp;</article>  
</section>

<div class="container w100">

{% for flashMessage in app.session.flashbag.get('info') %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <strong>Aviso, </strong> {{ flashMessage }}
</div>
{% endfor %}

<h1 class="L L3">Listado de Categorias</h1>

<section class="w100 space-L1  white-box">
    <fieldset class=" w100">
        <div class="ConfigureScrollXTable w40" >
            <!--sin scroll menos de 8 columnas-->
            <table cellspacing="0" id="" class="tablepaginate dataTable tablapaginacion w100 ">       
                <!--con scroll mas de 8 columnas-->
                    <!--<table cellspacing="0" id="" class="tablepaginateScroll tablapaginacion w100 L tableBlock">-->
                <thead>
                
                <th><h6><center>Nombre</center></h6></th>
                <th><h6><center>Descripción</center></h6></th>                
                <th><h6><center>Opcion</center></h6></th>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                  
                        <td><h6 class='centrar2'>{{ categoria.nombreCategoria }}</h6></td>
                        <td><h6 class='centrar2'>{{ categoria.descripcionCategoria }}</h6></td>                        
                        <td><h6 class='centrar2'>
                            <a href="{{ path('categoria_show', {'id': categoria.idCategoria}) }}" class="btn btn-info">Ver Categoria</a>
                        </h6></td>
                    </tr>
                    {% else %}
                        <td colspan="4"><h6 class='centrar2'>No existen categorias</h6></td>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </fieldset>
</section>

</div> <!-- /container -->


{% endblock %}