{% extends '::frontend.html.twig' %}

{% block title %} Listado de Categorias {% endblock %}

{% block id 'portada' %}

{% block main %}

<section>
    <div class="naranja space">&nbsp;</div>
    <div class="space-line">&nbsp;</div>
    <div class="naranja space-line">&nbsp;</div>
</section>

<section>
    <article class="w100 gris_claro-textura space">&nbsp;</article>
    <article class="w100 gris_claro-textura space">&nbsp;</article>  
    <article class="w100 gris_claro-texturaspace">
        <dd class="R w100">
        <dl class="w7 R R3">
        <input class="btn btn-warning w100" type="button" value="Eliminar"/>    
        </dl>
        <dl class="w7 R R1">
        <input class="btn btn-warning w100" type="button" value="Consulta"/>    
        </dl>
        <dl class="w7 R R1">
        <input class="btn btn-warning w100" type="button" value="Editar"/>
        </dl>
        <dl class="w7 R R1">
            <a href="{{path('categoria_new')}}">
                <input class="btn btn-success w100" type="button" value="Nuevo"/>
            </a>
        </dl>
        </dd>
    </article>
    <article class="w100 gris_claro-textura space">&nbsp;</article>  
</section>

<div class="container">

{% for flashMessage in app.session.flashbag.get('info') %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <strong>Aviso, </strong> {{ flashMessage }}
</div>
{% endfor %}

<h1>Listado de Categorias</h1>

<section class="w100 space-L1 L white-box">
    <fieldset class="L w100">
        <div class="ConfigureScrollXTable  " >
            <!--sin scroll menos de 8 columnas-->
            <table cellspacing="0" id="" class="tablepaginate dataTable tablapaginacion w100 L tableBlock">       
                <!--con scroll mas de 8 columnas-->
                    <!--<table cellspacing="0" id="" class="tablepaginateScroll tablapaginacion w100 L tableBlock">-->
                <thead>
                <th><h6><center>Id</center></h6></th>
                <th><h6><center>Nombre</center></h6></th>
                <th><h6><center>Descripción</center></h6></th>
                <th><h6><center>Fecha Ingreso</center></h6></th>
                <th><h6><center>Opcion</center></h6></th>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td><h6 class='centrar2'>{{ categoria.id }}</h6></td>
                        <td><h6 class='centrar2'>{{ categoria.nombre }}</h6></td>
                        <td><h6 class='centrar2'>{{ categoria.descripcion }}</h6></td>
                        <td><h6 class='centrar2'>{{ categoria.createdAt|date("d/m/Y H:i") }}</h6></td>
                        <td><h6 class='centrar2'>
                            <a href="{{ path('categoria_show', {'id': categoria.id}) }}" class="btn btn-info">Ver Categoria</a>
                        </h6></td>
                    </tr>
                    {% else %}
                        <td colspan="4"><h6 class='centrar2'>No existen categorias</h6></td>
                    {% endfor %}
                </tbody> 
            </table>
        </div>
    </fieldset>
</section>

</div> <!-- /container -->

<section>
    <div class="gris_claro space">&nbsp;</div>
    <div class="gris_claro space">&nbsp;</div>
    <div class="gris_claro space">&nbsp;</div>
    <div class="gris_claro space">&nbsp;</div>
</section>

{% endblock %}