{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<div class="container">
    <form class="formulario">
    <h1>Categoria {{ categoria.nombreCategoria }}</h1>

    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>{{ categoria.nombreCategoria }}</dd>

        <dt>Descripcion</dt>
        <dd>{{ categoria.descripcionCategoria }}</dd>

        <hr>

        <dt>&nbsp;</dt>
        <dd>
            <a href="{{ path('categoria_edit', {'id': categoria.idCategoria}) }}" class="btn btn-warning">Editar</a>
            <a href="{{ path('categoria_delete', {'id': categoria.idCategoria}) }}" class="btn btn-danger">Eliminar</a>
        </dd>

    </dl>
    </form>
</div> <!-- /container -->

{% endblock %}